CERTIFICATES=Me_Altere

DB_PASSWORD_AUTH=Me_Altere
DB_PASSWORD_CONTEUDO=Me_Altere
DB_PASSWORD_ALUNO=Me_Altere
DB_PASSWORD_PAGAMENTO=Me_Altere

JWT_SECRET_KEY=Me_Altere
JWT_ISSUER=Me_Altere
JWT_AUDIENCE=Me_Altere

RABBITMQ_PASSWORD=Me_Altere